name: Packager
permissions:
  contents: write

on:
  push:
    branches:
      - main
    tags:
      - "**"
    paths-ignore:
      - ".github/**"
      - ".libraries/**"
      - ".gitmodules"

jobs:
  release:
    runs-on: ubuntu-latest
    concurrency:
      group: packager

    env:
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}

    steps:
      - name: Clone
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Package and release
        uses: BigWigsMods/packager@v2.5.1
        with:
          args: -g retail
